    <div class="container"> 
<div class="row"
    <img src="../../../assets/perfilfoto.jpg"
     class="img-fluid">
</div>
</div>
<p>Orlandini Alejandro</p>
<p>Full stack developer Jr</p>
</div>
</div>
<span>
    <h1>Acerca de mi</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Perferendis inventore quaerat temporibus fugiat? 
    Praesentium optio et voluptate esse adipisci repellat reprehenderit corporis dolores porro, rem beatae in, 
    quo ratione sequi!</p>
</span>
</div>
</div>